<div class="row">
    <div class="col-sm-6">
        <div class="well">
            <legend>Recent HTTP calls</legend>
            <a ng-click="toCpu()">CPU</a>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Timestamp</th>
                        <th>Verb</th>
                        <th>URL</th>
                        <th>Duration (ms)</th>
                        <th>Memory (Byte)</th>
                        <th>Act</th>
                    </tr>
                    <tr ng-repeat="request in requests">
                        <td>{{request.start}}</td>
                        <td>{{request.reqMethod}}</td>
                        <td>{{request.url}}</td>
                        <td>{{request.end - request.start}}</td>
                        <td>{{request.freeMemEnd - request.freeMemStart}}</td>
                        <td>
                            <a ng-click="showDetail($index)"
                               class="btn btn-primary btn-raised">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well" ng-show="isShowDetail">
            <legend>Detail</legend>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Class</th>
                    <th>Method</th>
                    <th>Duration (ms)</th>
                    <th>Memory (Byte)</th>
                </tr>
                <tr ng-repeat="method in methods">
                    <td>{{method.clazz}}</td>
                    <td>{{method.method}}</td>
                    <td>{{method.end - method.start}}</td>
                    <td>{{method.freeMemEnd - method.freeMemStart}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>