<div class="row">
    <div class="col-sm-12">
        <legend>Recent HTTP calls</legend>
        <div class="panel panel-default">
            <div class="panel-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>Timestamp</th>
                        <th>Verb</th>
                        <th>URL</th>
                        <th>Duration (ms)</th>
                        <th>Max memory (Byte)</th>
                        <th>Avg CPU snapshot</th>
                        <th>Act</th>
                    </tr>
                    <tr ng-repeat="request in requests">
                        <td>{{request.start | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{request.reqMethod}}</td>
                        <td>{{request.url}}</td>
                        <td>{{request.end - request.start}}</td>
                        <td>{{request.maxMemory}}</td>
                        <td>{{Math.ceil(request.avgCpu * 100)}} %</td>
                        <td>
                            <a ng-click="showDetail($index)">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="well" ng-show="isShowDetail">
            <legend>Detail</legend>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Class</th>
                    <th>Method</th>
                    <th>Duration (ms)</th>
                    <th>Memory (Byte)</th>
                </tr>
                <tr ng-repeat="method in methods">
                    <td>{{method.clazz}}</td>
                    <td>{{method.method}}</td>
                    <td>{{method.end - method.start}}</td>
                    <td>{{method.freeMemEnd - method.freeMemStart}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>