<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <legend>Filter</legend>
                    <form>
                        <!--<div class="form-group">-->
                        <!--<div class="row">-->
                        <!--<div class="col-sm-4">-->
                        <!--<input type="checkbox" ng-model="showDetail"/> Show Memory Pool-->
                        <!--</div>-->
                        <!--<div class="col-sm-4">-->
                        <!--<input type="checkbox" ng-model="showMemoryPool"/> MemPool-->
                        <!--</div>-->
                        <!--<div class="col-sm-4">-->
                        <!--<input type="checkbox" ng-model="showCpuUsage"/> CPU-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label>Start</label>
                            <input type="text" ng-model="startTimestamp" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>End</label>
                            <input type="text" ng-model="endTimestamp" class="form-control">
                        </div>
                            <!--<div class="col-sm-12" style="padding-bottom:10px;">-->
                                <!--<div class="dropdown">-->
                                    <!--<label>Start</label>-->
                                    <!--<a class="dropdown-toggle btn btn-primary" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</a>-->
                                    <!--<span style="padding-left:10px;">{{startTimestamp | date : 'yyyy-MM-dd HH:mm'}}</span>-->
                                    <!--<ul class="dropdown-menu" role="menu">-->
                                        <!--<datetimepicker data-ng-model="startTimestamp" data-datetimepicker-config="{ dropdownSelector: '#dropdown1','minuteStep':2 }"/>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-sm-12">-->
                                <!--<div class="dropdown">-->
                                    <!--<label>End&nbsp;</label>-->
                                    <!--<a class="dropdown-toggle btn btn-primary" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0)">-->
                                        <!--<span class="glyphicon glyphicon-calendar"></span>-->
                                    <!--</a>-->
                                    <!--<span style="padding-left:10px;">{{endTimestamp | date : 'yyyy-MM-dd HH:mm'}}</span>-->
                                    <!--<ul class="dropdown-menu" role="menu">-->
                                        <!--<datetimepicker data-ng-model="endTimestamp" data-datetimepicker-config="{ dropdownSelector: '#dropdown2','minuteStep':2 }"/>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click="drawGraph()">Refresh</button>
                        </div>
                    </form>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <legend>Most Consuming Memory HTTP requests</legend>
            Between {{startTimestamp}} and {{endTimestamp}}
            <table class="table table-condensed table-wrap-long">
                <thead>
                <tr>
                    <th>URL</th>
                    <th>Start</th>
                    <th>Max return memory (bytes)</th>
                    <th>Avg CPU</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="method in methods">
                    <td class="wrap">{{method.reqMethod}} {{method.url}}</td>
                    <td class="wrap">{{method.start | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{method.maxMemory}}</td>
                    <td>{{Math.ceil(method.avgCpu * 100.0)}} %</td>
                    <td>
                        <a ng-click="redirectToUrlDetail($index)">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-6" style="padding-left:40px;">
        <!--<div class="row">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-body">-->
                <!--<div id="graphAppMemUsage" class="graph"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row" ng-show="showMemoryPool">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="graphMemPoolUsage" class="graph"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showCpuUsage">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="graphCpuUsage" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
