<div class="col-sm-12">
    <div class="col-sm-6">
        <legend>HTTP Request</legend>
        <table class="table table-condensed table-unbordered-row">
            <tbody>
            <tr>
                <td>HTTP Request Id</td>
                <td>{{httpRequestMethodCall.id}}</td>
            </tr>
            <tr>
                <td>URL</td>
                <td>{{httpRequestMethodCall.reqMethod}} {{httpRequestMethodCall.url}}</td>
            </tr>
            <tr>
                <td>Duration (ms)</td>
                <td>{{httpRequestMethodCall.end - httpRequestMethodCall.start}}</td>
            </tr>
            </tbody>
        </table>
        <legend>Method Invoked By This Request</legend>
        <node-tree ng-model="methods"></node-tree>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="graphMemPoolUsage" class="graph"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="graphCpuUsage" class="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>